Hello <%= your_name%>, What's your age?

<form action = "age" method = "post">
	<input type = "number" name = "user_age">
	<input type = "text" name = "user_name" value = <%= your_name%> hidden>
	<input type = "submit">
</form>